# Exercise 1 -  Sakila Star Schema & ETL  

All the database tables in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

In [3]:
#In case your environment does not have the needed libraries
!pip install psycopg2-binary
!pip install ipython-sql 
!pip install pandas

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.8.5-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 2.7 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.5
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (6.2.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (1.2.1)
Requirement already satisfied: six in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (1.11.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Collecting sqlparse
  Downloading sqlparse-0.3.1-py2.py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 6.0 MB/s eta 0:00:01
Requirement already satisfied: setuptools>=18.5 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (38.4.0)
Requirement already satisfied: jedi>=0.10 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.17.0)
Requirement already satisfied: decorator in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.2.1)
Requirement already satisfied: pickleshare in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: prompt_toolkit<2.0.0,>=1.0.4 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (1.0.15)
Requirement already satisfied: pygments in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: appnope in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.1)
Requirement already satisfied: parso>=0.7.0 in /anaconda3/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /anaconda3/lib/python3.6/site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.1.7)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13552 sha256=5e74f95153e8ba702742c36828f1aacd08600fb344f72052585bd7903b681446
  Stored in directory: /Users/yerxiong/Library/Caches/pip/wheels/90/15/c3/5f28b42ae9c81638570b8b7ed654e0f98c5fdc08875869511b
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.3.1
Requirement already satisfied: pandas in /anaconda3/lib/python3.6/site-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /anaconda3/lib/python3.6/site-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.6/site-packages (from pandas) (2017.3)
Requirement already satisfied: numpy>=1.9.0 in /anaconda3/lib/python3.6/site-packages (from pandas) (1.14.0)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.6/site-packages (from python-dateutil>=2->pandas) (1.11.0)

# STEP0: Using ipython-sql

- Load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var using `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var using `$`


- Running a connection string like:
`postgresql://postgres:postgres@db:5432/pagila` connects to the database

# STEP1 : Connect to the local database where Pagila is loaded

##  1.1 Create the pagila db and fill it with data
- Adding `"!"` at the beginning of a jupyter cell runs a command in a shell, i.e. we are not running python code but we are running the `createdb` and `psql` postgresql commmand-line utilities

In [1]:
# Create pagila database
!PGPASSWORD=student createdb -h 127.0.0.1 -U postgres pagila

createdb: error: database creation failed: ERROR:  database "pagila" already exists

In [11]:
# Load the schema
!PGPASSWORD=student psql -q -h 127.0.0.1 -U postgres -d pagila -f ../Data/pagila-schema.sql

In [12]:
# Load the data into the tables 
!PGPASSWORD=student psql -q -h 127.0.0.1 -U postgres -d pagila -f ../Data/pagila-data.sql

 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

## 1.2 Connect to the newly created db

In [2]:
%load_ext sql

In [5]:
DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:student@127.0.0.1:5432/pagila

In [6]:
%sql $conn_string

# STEP 2 : Explore the  3NF Schema
<img src="../Images/lesson-1-exercise-1-3nf-schema.png">

## 2.1 How much? What data sizes are we looking at?

In [8]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nStores\t\t=", nStores[0][0])
print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t=", nCountry[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.
nStores		= 2
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 16049
nStaff		= 2
nCities		= 600
nCountry	= 109

## 2.2 When? What time period are we talking about?

In [9]:
%%sql
select min(payment_date) as start, max(payment_date) as end from payment;

 * postgresql://postgres:***@127.0.0.1:5432/pagila
1 rows affected.

[(datetime.datetime(2017, 1, 24, 21, 21, 56, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-300, name=None)), datetime.datetime(2017, 5, 14, 13, 44, 29, 996577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-240, name=None)))]

## 2.3 Where? Where do events in this database occur?
TODO: Write a query that displays the number of addresses by district in the address table. Limit the table to the top 10 districts. Your results should match the table below.

In [10]:
%%sql
select distinct district, count(city_id) as n  
from address
group by district 
order by n desc, district asc 
limit 10;

 * postgresql://postgres:***@127.0.0.1:5432/pagila
10 rows affected.

[('Buenos Aires', 10),
 ('California', 9),
 ('Shandong', 9),
 ('West Bengali', 9),
 ('So Paulo', 8),
 ('Uttar Pradesh', 8),
 ('England', 7),
 ('Maharashtra', 7),
 ('Southern Tagalog', 6),
 ('Gois', 5)]